### ロジスティック回帰

In [28]:
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [29]:
# データ準備
df = sns.load_dataset('titanic')
df = df.dropna()
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

In [30]:
# 統計量
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  182.000000  182.000000  182.000000  182.000000  182.000000  182.000000
mean     0.675824    1.192308   35.623187    0.467033    0.478022   78.919735
std      0.469357    0.516411   15.671615    0.645007    0.755869   76.490774
min      0.000000    1.000000    0.920000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   24.000000    0.000000    0.000000   29.700000
50%      1.000000    1.000000   36.000000    0.000000    0.000000   57.000000
75%      1.000000    1.000000   47.750000    1.000000    1.000000   90.000000
max      1.000000    3.000000   80.000000    3.000000    4.000000  512.329200

In [36]:
# データ準備
X = df.loc[:, (df.columns!='survived') & (df.columns != 'alive')]
X = pd.get_dummies(X, drop_first=True)
y = df['survived']
# hold-out
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

model = LogisticRegression()
model.fit(X_train, y_train)

/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test) # 左が０の確率、右が一の確率

In [38]:
from sklearn.metrics import log_loss
log_loss(y_test, y_pred_proba)

0.4111510991501968

In [39]:
# coefficient
model.coef_

array([[-0.29591777, -0.02129129,  0.62266671, -0.37434089,  0.00478842,
        -0.88707885,  0.17507781,  0.38777754, -0.40435708, -0.02267468,
        -0.45284035, -0.40457772, -0.88707885,  1.21183616, -0.11115914,
        -1.20720666, -0.14139768,  0.61109211, -0.13066777, -0.55135682,
        -0.40435708, -0.02267468]])

In [40]:
model.classes_

array([0, 1])

In [42]:
# features names
model.feature_names_in_

array(['pclass', 'age', 'sibsp', 'parch', 'fare', 'adult_male', 'alone',
       'sex_male', 'embarked_Q', 'embarked_S', 'class_Second',
       'class_Third', 'who_man', 'who_woman', 'deck_B', 'deck_C',
       'deck_D', 'deck_E', 'deck_F', 'deck_G', 'embark_town_Queenstown',
       'embark_town_Southampton'], dtype=object)

In [43]:
model.intercept_

array([2.14226236])